@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color-scheme: light;
}

html, body {
  overflow: hidden;
  height: 100%;
}


* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

label {
  font-size: 1.5rem;
}

@layer components{
  input{
    @apply w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary;
  }
  select{
    @apply w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary appearance-none;
  }
}

.fade-out {
  animation: fadeOut 0.21s ease-in-out;
}

@keyframes fadeOut {
  from {
    transform: scale3d(1,1,1);
    opacity: 1;
  }
  to {
    transform: scale3d(0.9,0.5,0.9);
    opacity: 0;
  }
}